
@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&display=swap');
 
body{
    font-family: "Amarna", sans-serif;
   background-color: whitesmoke;
}
nav {
    width: 100%; 
    background-color: rgb(253, 255, 255);
    /* position: fixed !important; */
    font-weight: bold;
    z-index: 1000;
}

.nav-link:hover{
    color: rgba(48, 13, 246, 0.685);
    text-decoration: underline;
}

.nav-item{
    transition: transform 0.3s ease,box-shadow 0.3s;
}
.nav-item:hover{
    transform: translateY(-5px);
}

/* home section */

.home{
    background-color: rgb(196, 200, 199);
    padding-bottom: 40px;
}
.img-fluid{
    width: 250px;
    height: 300px;
    object-fit: cover;
} 
.btn{
    transition: transform 0.3s ease,box-shadow 0.3s;
}
.btn:hover{
    transform: translateY(-5px);
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
 font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/* about section */
.about-section h2{
    text-align: center;
    color: rgb(9, 9, 9);
    font-weight: bolder;
    font-size: 40px;
}

/* project */
.card{
    height: fit-content;
    width: 100%;
    
}
.card img{
    height: 231px;
    
}
.card{
     transition: transform 0.3s ease,box-shadow 10s;
}
.card:hover{
    transform: translateY(-10px);
}

/* contact section */
.social-icons a{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.social-icons a:hover{
    color: rgb(45, 45, 245);
}
